<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="admin-header">
    <p>
        <span th:text="#{header.welcome}"></span>
        <span th:text="${currentUser.name}"></span>
        <span th:text="${currentUser.surname}"></span>
    </p>

    <th:block th:insert="fragments/HeaderFragment::header"></th:block>

</div>

<div class="dashboard">
    <a href="/category" class="dashboard-card">
        <h3>Categories</h3>
        <small>Manage shop categories</small>
    </a>

    <a href="/admin/product" class="dashboard-card">
        <h3>Products</h3>
        <small>Manage products</small>
    </a>

    <a href="/admin/members" class="dashboard-card">
        <h3>Members</h3>
        <small>Manage users</small>
    </a>
</div>

</body>
</html>
