<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<p>
    <span th:text="#{header.welcome}"></span>
    <span th:text="${currentUser.name}"></span>
    <span th:text="${currentUser.surname}"></span>
</p>
    <th:block th:insert="fragments/HeaderFragment::header"></th:block>
 <br>
<a href="/home" th:text="#{header.backHome}"></a>
<h1>Category</h1>

<select onchange="
    if (this.value == '') {
        window.location.href = '/user/home';
    } else {
        window.location.href = '/user/home?categoryId=' + this.value;
    }">
    <option value=""
            th:selected="${selectedCategoryId == null }">
        All
    </option>
    <option th:each="category : ${categories}"
            th:value="${category.id}"
            th:text="${category.name}"
            th:selected="${category.id == selectedCategoryId}"></option>
</select><br>


<table>
    <tr>
        <th>Picture</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <tr th:each="product : ${products}">
        <td>
            <a th:href="@{/user/product/own/page(id=${product.id})}">
                <img th:if="${product.getPicName() != null && !product.getPicName().equals('')}" th:src="@{/image/get(pic=${product.picName})}" >
                <img th:if="${product.getPicName() == null || product.getPicName().equals('')}" th:src="@{/image/img.png}" >
            </a>
        </td>
        <td>
            <a th:href="@{/user/product/own/page(id=${product.id})}"
               th:text="${product.title}"></a>
        </td>
        <td th:text="${product.price}"></td>
    </tr>
</table>


</body>
</html>