<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<th:block th:replace="~{fragments/HeaderFragment::header}"></th:block>
 <br>
<a href="/category/add" th:if="${currentUser.getUserType().toString()} == 'ADMIN' ">Add Category</a><br>
<a href="/home" th:text="#{header.backHome}"></a><br>

Category
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th  th:if="${currentUser.getUserType().toString()} == 'ADMIN' ">Action</th>
    </tr>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td th:if="${currentUser.getUserType().toString()} == 'ADMIN' ">
            <a th:href="@{/category/delete(id=${category.id})}">Delete</a> |
            <a th:href="@{/category/update(id=${category.id})}">Update</a>
        </td>
    </tr>
</table>

</body>
</html>