<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<th:block th:insert="fragments/HeaderFragment::header"></th:block>
 <br>
<a href="/admin/product">Back to Product List Page</a><br>
<a href="/admin/home" th:text="#{header.backHome}"></a><br>

<h1>Add Member</h1>
<form action="/admin/product/add" method="post" enctype="multipart/form-data" class="admin-form">
    <input type="text" name="title" placeholder="Title"><br>
    <input type="number" name="price" placeholder="Price"><br>
    <input type="text" name="description" placeholder="Description"><br>
    <input type="file" name="pic"><br>

    <select name="category.id">
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}"></option>
    </select><br>
    <input type="hidden" name="user.id" th:value="${currentUser.id}">

    <input type="submit" value="Add Product">
</form>
</body>
</html>