<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<a href="/logout">Log out</a> <br>
<a href="/admin/product/add">Add Product</a><br>
<a href="/admin/home">Back to Home</a><br>

<h1>Products</h1>

<div class="admin-product-list">

    <div class="product-card" th:each="product : ${products}">

        <img th:if="${product.getPicName() != null && !product.getPicName().equals('')}"
             th:src="@{/image/get(pic=${product.picName})}">
        <img th:if="${product.getPicName() == null || product.getPicName().equals('')}"
             th:src="@{/image/img.png}">

        <div class="product-info">
            <h3 th:text="${product.title}"></h3>

            <p><b>ID:</b> <span th:text="${product.id}"></span></p>
            <p><b>Price:</b> <span th:text="${product.price}"></span></p>
            <p><b>Category:</b> <span th:text="${product.category.name}"></span></p>
            <p><b>User:</b> <span th:text="${product.user.name}"></span></p>
            <small th:text="${product.createdAt}"></small>

            <div class="comments">
                <span th:each="comment : ${product.comments}"
                      th:text="${comment.comment}"></span>
            </div>
        </div>

        <div class="actions">
            <a th:href="@{/admin/product/update(id=${product.id})}">Update</a>
            <a th:href="@{/admin/product/delete(id=${product.id})}">Delete</a>
        </div>

    </div>

</div>

<!--<table>-->
<!--    <tr>-->
<!--        <th>Picture</th>-->
<!--        <th>Id</th>-->
<!--        <th>Title</th>-->
<!--        <th>Price</th>-->
<!--        <th>Description</th>-->
<!--        <th>Date</th>-->
<!--        <th>Category</th>-->
<!--        <th>User</th>-->
<!--        <th>Comments</th>-->
<!--        <th>Action</th>-->
<!--    </tr>-->
<!--    <tr th:each="product : ${products}">-->
<!--        <td>-->
<!--            <img th:if="${product.getPicName() != null && !product.getPicName().equals('')}" th:src="@{/image/get(pic=${product.picName})}">-->
<!--            <img th:if="${product.getPicName() == null || product.getPicName().equals('')}" th:src="@{/image/img.png}">-->
<!--        </td>-->
<!--        <td th:text="${product.id}"></td>-->
<!--        <td th:text="${product.title}"></td>-->
<!--        <td th:text="${product.price}"></td>-->
<!--        <td th:text="${product.description}"></td>-->
<!--        <td th:text="${product.createdAt}"></td>-->
<!--        <td th:text="${product.category.name}"></td>-->
<!--        <td th:text="${product.user.name}"></td>-->
<!--        <td th:each="comment :${product.getComments()}">-->
<!--            <span th:text="${comment.comment}"></span><br>-->
<!--        </td>-->
<!--        <td>-->
<!--            <a th:href="@{/admin/product/delete(id=${product.id})}">Delete</a> |-->
<!--            <a th:href="@{/admin/product/update(id=${product.id})}">Update</a>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>