<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<th:block th:replace="~{fragments/HeaderFragment::header}"></th:block>
 <br>
<a href="/admin/product/add">Add Product</a><br>
<a href="/admin/home" th:text="#{header.backHome}"></a><br>

<h1>Products</h1>

<div class="admin-product-list">

    <div class="product-card" th:each="product : ${products}">

        <img th:if="${product.getPicName() != null && !product.getPicName().equals('')}"
             th:src="@{/image/get(pic=${product.picName})}">
        <img th:if="${product.getPicName() == null || product.getPicName().equals('')}"
             th:src="@{/image/img.png}">

        <div class="product-info">
            <h3 th:text="${product.title}"></h3>

            <p><b>ID:</b> <span th:text="${product.id}"></span></p>
            <p><b>Price:</b> <span th:text="${product.price}"></span></p>
            <p><b>Category:</b> <span th:text="${product.category.name}"></span></p>
            <p><b>User:</b> <span th:text="${product.user.name}"></span></p>
            <small th:text="${product.createdAt}"></small>

            <div class="comments">
                <span th:each="comment : ${product.comments}"
                      th:text="${comment.comment}"></span>
            </div>
        </div>

        <div class="actions">
            <a th:href="@{/admin/product/update(id=${product.id})}">Update</a>
            <a th:href="@{/admin/product/delete(id=${product.id})}">Delete</a>
        </div>

    </div>

</div>
</body>
</html>